<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="center-title">RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="reset-password-content">
  <div class="reset-password-container">
    <h2>Recupera tu Contraseña</h2>

    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>

    
    <ion-button expand="full" color="success" (click)="updatePassword()">Actualizar Contraseña</ion-button>
    <ion-button expand="full" color="success" (click)="goBack()">Volver</ion-button>


  </div>
</ion-content>
