<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Escaneo QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-list>
      <ion-item-divider>
        <ion-label color="medium">Resultados del Escáner</ion-label>
      </ion-item-divider>
      <ion-item *ngIf="result; else noResult">
        <ion-icon name="checkmark-circle" slot="start" color="success"></ion-icon>
        <ion-label>{{ result }}</ion-label>
      </ion-item>
      <ng-template #noResult>
        <ion-item>
          <ion-icon name="information-circle" slot="start" color="warning"></ion-icon>
          <ion-label color="medium">No se ha escaneado ningún código aún.</ion-label>
        </ion-item>
      </ng-template>
    </ion-list>
  </div>

  
  <div class="fab-container">
    <ion-fab-button color="secondary" (click)="scan()">
      <ion-icon name="camera" size="large"></ion-icon> 
    </ion-fab-button>
  </div>
</ion-content>
